name: Build

on:
  - push
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Install
        run: yarn --no-immutable
      - name: Lint
        run: yarn lint

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Install
        run: yarn --no-immutable
      - name: Build
        run: yarn build

  publish:
    needs: build

    if: >-
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, '[ci skip]') &&
      contains(fromJson('["refs/heads/main", "refs/heads/v3"]'), github.ref)

    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Install
        run: yarn --no-immutable
      - name: Build
        run: yarn build
      - name: Publish
        run: |-
          yarn config set npmPublishProvenance true
          yarn config set npmRegistryServer https://registry.npmjs.org/
          yarn pub --debug
