name: Test

on:
  - push
  - pull_request

jobs:
  mysql:
    name: ${{ matrix.mysql-image }} (${{ matrix.node-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        mysql-image:
          - mysql:5.7
          - mysql:8.0
          - mariadb:10.5
        node-version: [14, 16, 18]

    services:
      mysql:
        image: ${{ matrix.mysql-image }}
        ports:
          - 3306:3306
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          MYSQL_USER: koishi
          MYSQL_DATABASE: test
          MYSQL_PASSWORD: koishi@114514
          MYSQL_ROOT_PASSWORD: password

    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn
      - name: Unit Test
        run: yarn test:json mysql
      - name: Report Coverage
        if: ${{ matrix.node-version == 16 && matrix.mysql-image == 'mysql:5.7' }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
          name: codecov

  mongo:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [14, 16, 18]

    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017
        # https://stackoverflow.com/questions/66317184/github-actions-cannot-connect-to-mongodb-service
        options: --health-cmd "mongo" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn
      - name: Unit Test
        run: yarn test:json mongo
      - name: Report Coverage
        if: ${{ matrix.node-version == 16 }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
          name: codecov

  test:
    name: ${{ matrix.driver-name }} (${{ matrix.node-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        driver-name: [sqlite, memory]
        node-version: [14, 16, 18]

    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn
      - name: Unit Test
        run: yarn test:json ${{ matrix.driver-name }}
      - name: Report Coverage
        if: ${{ matrix.node-version == 16 }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
          name: codecov
